body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d1f116;
}

nav{
    background: #ecf0f3;
    padding: 15px;
}

nav a{
    color: rgb(226, 38, 5);
    text-decoration: none;
    margin-right: 20px;
}

h1{
    text-align: center;
    color: #09d79d;
}

form{
    width: 350px;
    margin: 20px auto;
    background: rgb(228, 64, 64);
    padding: 20px;
    border-radius: 8px;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}