body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

nav{
    background: #333;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

h1{
    text-align: center;
    color: #333;
}

form{
    width: 350px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}